[submodule "inc/viennagrid"]
	path = inc/viennagrid
	url = git@github.com:viennagrid/viennagrid-dev.git
[submodule "inc/viennadata"]
	path = inc/viennadata
	url = git@github.com:viennadata/viennadata-dev.git
